.box,.box2,.box3{
    width: 640px;
    height: 200px;
    border: 5px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.box div,.box2 div,.box3 div{
    width: 200px;
    height: 200px;
}
.box div:first-child{
    background: red;
}
.box div:last-child{
    background: green;
}
.box2 div:first-child{
    background: orange;
}
.box2 div:nth-child(2){
    background: #ccff00;
}
.box2 div:last-child{
    background: #0cf;
}
/* .box3 div:first-child{
    background: aqua;
} */
.box3 div:last-child{
    background: blueviolet;
}
.box2{
    position: relative;
}
.box2 .ani{
    position: absolute;
    left: 440px;
    top: 0;
}
.bg{
    background: gold;
}
.fade-hidden{
    transition: all is ease-in-out;
    opacity: 0;
}
.box2 .slide-hidden{
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
    transition: all 1s ease-in-out;
}
.box2 .ani-move{
    left: 900px;
}