@charset "utf-8";
.test1{
    filter: blur(10px);
}
.test2{
    /* 기본값100% */
    filter: brightness(200%);
}
.test3{
    /* 흑백으로 */
    filter: grayscale(100%);
}
.test4{
    /* filter: drop-shadow(x,y,bluer,color); */
    filter: drop-shadow(10px,10px,10px,#000);
}
.test5{
    filter: saturate(200%);
}
.test6{
    filter: invert(100%);
}