@charset "utf-8"
body{
    font-family: "맑은고딕" , "malgun gothic" , sans-serif ;
}
/* 여백 초기화 */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.box{
    width: 1000px;
    height: 500px;
    border: 5px solid #0002fe;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.box .child1{
    width: 300px;
    height: 200px;
    border: 4px solid #000;
    margin-right: 20px;
}
.box .child2{
    width: 300px;
    height: 200px;
    border: 4px solid #000;
}
.box .child3{
    width: 300px;
    height: 200px;
    border: 4px solid #000;
    margin-left: 20px;
}
/* 순서없는 목록으로 박스 모델 구현 */
ul{
    width: 1000px;
    height: 500px;
    border: 5px solid red;
    margin: auto;
    display: flex;
}
ul li{
    width: 300px;
    height: 200px;
    border: 4px solid #000;
    margin-right: 20px;
}
ul .last{
    margin-right: 0;
}